{% extends "accounts/dashboard.html" %}

{% block breadcrumb %}
	{{ block.super }}
	<li>/</li>
	<li><a href="{% url 'courses:announcements' course.slug %}">{{ course }}</a></li>

{% endblock %}

{% block menu_options %}
<li class="pure-menu-heading">
    {{ course }}
<li>
    <a href="{% url 'courses:lessons' course.slug %}">
        <i class="fa fa-video-camera"> </i> &nbsp;
        Aulas e Materiais
    </a>
</li>

<li>
    <a href="{% url 'courses:details' course.slug %}">
        <i class="fa fa-info-circle"> </i> &nbsp;
        Informações
    </a>
</li>
<li>
    <a href="{% url 'courses:announcements' course.slug %}">
        <i class="fa fa-envelope"> </i> &nbsp;
        Anúncios
    </a>
</li>
<!--TODO
Implementar fórum de dúvidas dos cursos
-------------------------------->
<li>
    <a href="#">
        <i class="fa fa-comments"> </i> &nbsp;
        Fórum de Dúvidas
    </a>
</li>
{{ block.super }}
{% endblock %}