{% extends "courses/course_dashboard.html" %}
{% block breadcrumb %}
{{ block.super }}
<li>/
    <a href="{% url 'courses:show_announcement' course.slug announcement.pk %}">
        {{ announcement }}
    </a>
</li>
{% endblock %}
{% block dashboard_content %}
<div class="well">
    <h2>{{ announcement.title }}</h2>
    {{ announcement.content|linebreaks }}
    <small>Aununciado por: {{ announcement.user }} há {{ announcement.created_at|timesince}}</small>
    <a class="pure-button pure-button-primary fright" type="button"
       href="{% url 'courses:show_announcement' course.slug announcement.pk %}#comments">
        Comentar
    </a>
    <br />
</div>
<div class="well">
    <h4 id="'comments">
        Comentários
    </h4>
    <hr/>
    {% for comment in announcement.comments.all %}
    <p>
        <strong>{{ comment.user }}</strong> disse há {{ comment.created_at|timesince }} atrás:
        <br/><br/>
        {{ comment.comment|linebreaksbr }}
    </p>
    <hr/>
    {% empty %}
    <div class="well">
        <h2>Nenhum comentário para este anúncio</h2>
    </div>
    {% endfor %}
    <!--TODO
    Ocultar para ser visualizado quando clicar no botão
    ---------------------------------------------------->
    <form method="post" class="pure-form pure-form-stacked" id="add_comment">
        {% csrf_token %}
        <fieldset>
            {{ form.non_field_errors }}
            {% for field in form %}
            <div class="pure-control-group">
                {{ field.label_tag }}
                {{ field }}
                {{ field.errors }}
            </div>
            {% endfor %}
            <div class="pure-controls">
                <button type="submit" class="pure-button pure-button-primary">Enviar</button>
            </div>
        </fieldset>
    </form>
</div>
{% endblock %}