*.gitignore
/.idea/
/env_mooc/
/mooc/db.sqlite3
*.pyc
*.dump
*.md
/mooc/local_settings.py
/mooc/staticfiles/
/mooc/%/migrations/
/mooc/accounts/migrations/
/mooc/courses/migrations/
/mooc/forum/migrations/
